@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Passion+One&family=Rubik:wght@300&family=Ubuntu:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Passion+One&family=Roboto:wght@300&family=Rubik:wght@300&family=Ubuntu:wght@300;400&display=swap");

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  background-color: #fff;
}

/* #16213e */

.home,
.projects,
.resume {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 3rem;
}

.skills {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.about {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.prev {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.next {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.project_cont {
  font-family: "Roboto", sans-serif;
}

.skills_cont {
  height: 90vh;
}

.img-fluid {
  width: 500px;
}

.skills_img {
  width: 100%;
}

.skill_icon {
  width: 60px;
}

.card_marging {
  margin: 130px;
}

.project_tool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ff-jose {
  font-family: "Ubuntu", sans-serif;
}

.text_info:hover {
  color: #fff;
}

/* .img-fluid {
  width: 800px;
  height: 500px;
} */

.home_cont {
  margin-top: 80px;
}

.font-big {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}

.bg-dark {
  background-color: #1a1a2e !important;
}

.bg-blue {
  background-color: #0f3460;
}

.text-red {
  color: #e94560;
}

.text-black {
  color: #1a1a2e;
}

.dropdown-item:active {
  background-color: #0f3460 !important;
}

/* ===================== Transition ===================== */

.animate-character {
  background-image: linear-gradient(
    -225deg,
    #ffffff,
    #ff7300,
    rgb(78, 194, 233),
    rgb(207, 58, 58),
    #ffffff
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

.type_border {
  margin-top: 100px;
}

.text_style {
  text-align: center;
  color: #3f3d56;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.5em;
}

.link_to_project {
  text-align: initial;
}

.animate_ {
  font-size: 50px;
  background-image: linear-gradient(
    -225deg,
    #ffffff,
    #ff7300,
    rgb(78, 194, 233),
    rgb(207, 58, 58),
    #ffffff
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

.animate_tools {
  font-size: 10px;
  background-image: linear-gradient(
    -225deg,
    #ffffff,
    #ff7300,
    rgb(78, 194, 233),
    rgb(207, 58, 58),
    #ffffff
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

.about_img {
  width: 100%;
}

.img {
  height: 250px;
}

@media (max-width: 700px) {
  .font-big {
    font-family: "Ubuntu", sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  .animate_ {
    font-size: 30px;
  }
  .card_marging {
    margin: 5px;
  }
  .img {
    height: 200px;
  }
  .skills {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
    font-size: 3rem;
  }
  .about {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 20px;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
  }
  .skills_img {
    width: 100%;
    margin-bottom: 50px;
  }
  .skill_icon {
    width: 40px;
  }
  .about_cont {
    display: flex;
    flex-direction: column;
  }
  .link_to_project {
    text-align: center;
  }
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* ===================== Home ===================== */
.ls-2 {
  letter-spacing: 2px;
}

/* ===================== Skills ===================== */
.technology-image {
  max-width: 100px;
  width: -webkit-fill-available;
}

.technology-image:hover {
  animation: zoominoutsinglefeatured 1s 1;
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* ===================== Resume ===================== */
li::marker {
  color: #2f4c64;
  align-items: center;
  font-size: 2em;
}

.blue-label {
  background-color: #0f3460;
  width: max-content;
}

.about_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.resume_cont {
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

.btn_projects:hover {
  color: #fff;
}
/* ===================== Portfolio ===================== */

.portfolio-link:hover {
  background-color: #e94560;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
